name: Setup Wrapper

on:
  push:
    branches: [ "main" ]

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Gradle
        run: |
          sudo apt update
          sudo apt install -y gradle

      - name: Generate Gradle Wrapper
        run: gradle wrapper

      - name: Commit Wrapper
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Add Gradle Wrapper"
          git push
